.leaflet_container {
  height: 49vw;
  width: 90vw;
}

.map_container {
  padding: 10px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-right {
  display: none !important;
}
